{% extends 'master.html' %}


{% block title %} Create Student  {% endblock %}


{% block body %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Link</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Dropdown
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li><hr class="dropdown-divider"></li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          
        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>
      </div>
    </div>
  </nav>


    <div class="container">
        <div class="col-md-12">Students List</div>
    </div>

    <div>
        <table class="table">
            <thead style="background-color: brown;color: aliceblue;">
               <th>ID</th>
               <th>First Name</th>
               <th>Last Name</th>
               <th>Email</th>
               <th>Gender</th>
               <th>Hobbies</th>
               <th>Country</th>
               <th>Actions</th>
           </thead>

           <tbody>
            {% for student in students %}
            <tr
            {% if loop.index %2==0 %}
            style="background-color: rgb(255, 217, 247);"
            {% else %}
            style="background-color: rgb(248, 169, 231);"
            {% endif %}
            ><td>{{ loop.index }}</td>
            <td>{{student.first_name}}</td>
            <td>{{student.last_name}}</td>
            <td>{{student.email}}</td>
            <td>{{student.gender}}</td>
            <td>{{student.hobbies}}</td>
            <td>{{student.country}}</td>
            <td> <span style="font-size: 24px;color:green;">
               <a href="/{{student.id}}/edit"> <i class="fas fa-edit"></i></a> </span>
                | <span style="font-size: 24px;color:red;">  
                  <a href="/{{student.id}}/delete"> <i class="fas fa-trash-alt"></i></a></span></td>
            {% endfor %}
           </tbody>


        </table>
    </div>

{% endblock %}